@import 'mixins';

.intro {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.webp) no-repeat;
    background-size: cover;
    background-position: right;
    color: aqua;
    padding: 70px 0px 0px 0px;
    position: relative;
    z-index: 3;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.24);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 0%;
        right: 0%;
        z-index: -1;
    }
    @include br(lg) {
        background-position: center;
    }
    &_wrapper {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        border-radius: 10px;
        @include br(md) {
            align-items: center;
        }
        &-title {
            margin: 30px 0px 0px 0px;
            font-size: 80px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(0, 0, 0, 0.288);
            @include br(md) {
                text-align: center;
            }
            @include br(sm) {
                font-size: 60px;
            }
            @include br(xs) {
                font-size: 50px;
            }
        }
        &-subtitle {
            font-size: 30px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(0, 0, 0, 0.356);
            @include br(sm) {
                text-align: center;
                font-size: 25px;
            }
        }
        &-button {
            width: 250px;
            height: 50px;
            border: 1px aqua solid;
            border-radius: 5px;
            font-size: 20px;
            text-transform: uppercase;
            background-color: gray;
            color: white;
            cursor: pointer;
            transition: 0.4s ease;
            &:hover {
                transform: scale(1.1);
                transition: 0.4s ease;
            }
        }
    }
}