@import 'mixins';
@import 'header';
@import 'intro';
@import 'ball';

* {
    box-sizing: border-box;
    letter-spacing: 2px;
}



body {
    width: 100%;
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
}


.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;

    @include br(lg) {
        max-width: 1024px;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(md) {
        max-width: 768px;
        padding: 0 10px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    @include br(sm) {
        max-width: 425px;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0px 0px 0px 0px;
    }

    @include br(xs) {
        max-width: 375px;
        padding: 0 5px;
        box-sizing: border-box;
        margin: 0px 0px 0px 0px;
    }

}

